body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

#orange-color2 {
  font-size: 50px;
  color: orange;
}
.orange-color {
  color: orangered;
  font-size: larger;
}
.orange-color1 {
  color: tomato;
}
.flexible-container {
  display: flex;
  margin-bottom: 150px;
}
.half-width {
  width: 50%;
  padding: 10px;
  box-shadow: ;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.half-width img {
  width: 75%;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  color: azure;
  font-weight: bold;
  padding: 10px 40px;
  border-radius: 5px;
  border: 5px;
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.dream-big {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.experience-area {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.experience-item {
  box-shadow: 10px 10px 30px gray;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 20px;
  border-radius: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: justify;
}
#web-dev-exp {
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}
#full-stac {
  border-left: 7px solid;
  border-image: linear-gradient(orangered, pink);
  border-image-slice: 1;
}

.mh {
  color: darkorange;
  font-size: xx-large;
}
footer {
  text-align: center;
  color: coral;
  text-shadow: darkorange;
  font-size: larger;
}
